@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #102222;
    color: white;
    font-family: 'Inter', sans-serif;
  }
}

/* Dark mode by default */
:root {
  color-scheme: dark;
}

html {
  background-color: #102222;
}

html.dark {
  background-color: #102222;
}

